.App {
  text-align: center;

}
/*Estilização do container principal MAIN*/
.principal{
  border: solid 5px green;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 

}
/*Estilização dA tag SECTION, que agrupa a todos os elementos da calculadora*/
.principal section{
  border: solid black;
  width: 350px;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJPMWGuumbcvbNZEA2O3eRpIYlSS9XKa7Png&s');
}
/*Estilização dos dois INPUTS, que recebem o numedador e o denominador*/
.principal section .inputs{
  border: solid black;
  background-color: black;
}

/*Estilização das DIVS, que agrupam os INPUTS e botões*/
.principal .box{
  display: flex;
  justify-content: center;
  gap:5px;
}
/*Estilização das tags BUTTONS*/
.principal section button{
  width: 40px;
  height: 30px;
  border: 2px solid;
}
/*Estilização das tags INPUTS*/
.principal section input{
  border: 2px solid;
  width: 100px;
  border-radius: 20%;
  height: 50px;
  text-align: center;
  font-size: 30px;
}

/*Estilização das tag DIV, que está sendo retornada e exibida no resultado da operação aritimética*/
.numeroResultado{
  background-color:white;
  height: 30px;
  width:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  border: 2px solid;
  font-size: 30px;
  font-weight: bold;
 
}
